* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playpen Sans", cursive;
  margin: 0;
  padding: 0;
  position: relative;
}
.hamburger-button {
  display: none;
}
.navbarcontainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4.5%;
  z-index: 1;
}

.line {
  display: flex;
  width: 600px;
  height: 1px;
  background-color: grey;
  z-index: 2;
  margin-top: 7%;
  margin-left: 12%;
  position: absolute;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  margin-top: 5.4%;
  margin-left: 5%;
  z-index: 2;
}

.blur {
  float: left;
  width: 900px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(20.774227142333984px);
}
.nav {
  display: flex;
  justify-content: center;
}

.nav li {
  float: right;
  padding: 30px;
  list-style-type: none;
  font-size: larger;
  text-transform: uppercase;
}

a {
  color: aliceblue;
  text-decoration: none;
}
.aa {
  height: 45px;
}
.aa:hover {
  border-bottom: 2px solid white;
}
.bb {
  height: 45px;
}
.bb:hover {
  border-bottom: 2px solid white;
}
.cc {
  height: 45px;
}
.cc:hover {
  border-bottom: 2px solid white;
}
.dd {
  height: 45px;
}
.dd:hover {
  border-bottom: 2px solid white;
}

.text {
  color: #d0d6f9;
  float: left;
  text-transform: uppercase;

  margin-left: 13%;
  margin-top: 27%;
  width: 32%;
}

.nodec {
  text-transform: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
}
.h1 {
  font-size: 120px;
  padding-top: 5px;
  padding-bottom: 35px;
  padding-left: 1px;
  color: aliceblue;
}
.h5 {
  font-size: 18px;
}

.my-button {
  background-color: aliceblue;
  color: black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 170%;
  margin-top: -220px;
}
.my-button p {
  font-size: 160%;
  text-transform: uppercase;
  color: black;
}
.my-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 50px;
  transition: box-shadow 0.6 ease-in-out;
}

@media (max-width: 768px) {
  body {
    background-image: url(background-home-tablet.jpg);
    background-size: cover;
    display: flex;
  }

  .line {
    display: none;
  }
  .blur {
    width: 500px;
    height: 70px;
    margin-top: -30px;
  }

  .logo {
    margin-top: 1.5%;
  }
  .nav li {
    padding: 25px;
    font-size: 13px;
  }
  .h1 {
    font-size: 100px;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-left: 40%;
    letter-spacing: 5px;
  }
  .h5 {
    font-size: 14.5px;
    margin-left: 70px;
    margin-right: -125px;
    padding-left: 25%;
    margin-top: -15%;
  }
  .nodec {
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: 9%;
    width: 400px;
  }
  .my-button {
    margin-top: 80%;
    margin-left: 65%;
  }
}
@media (max-width: 375px) {
  body {
    margin: 0;
    padding: 0;
    background-image: url(background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no repeat;

    height: 832px;
  }
  .hamburger-button {
    background-color: transparent;
    border: none;
    color: #d0d6f9;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    margin-right: 15px;
  }
  .blur {
    display: none;
  }
  .logo {
    display: flex;
    padding-top: 8px;
  }
  .h5 {
    font-size: 11px;
    margin-left: 0;
    margin-top: 45px;
    padding-left: 50px;
  }
  .h1 {
    margin-left: 0;
    padding: 9px;
    font-size: 80px;
  }
  text {
    display: flex;
  }
  .nodec {
    font-size: 15px;
    display: flex;
    margin: 0;
    padding-top: 20px;
    max-width: 280px;
  }
  .my-button {
    width: 200px;
    height: 200px;
    margin-top: 290px;
    margin-left: 40px;
  }
}
